<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDr2odUdS1Chjqsp4mfoZGZ79SuDPfAN8k</string>
	<key>GCM_SENDER_ID</key>
	<string>532562949507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lumina.ecomind</string>
	<key>PROJECT_ID</key>
	<string>ecomind-3464b</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomind-3464b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532562949507:ios:07641158f0c039b835f2b6</string>
</dict>
</plist>